/* Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};
};


/ {
	/*
	* In some default configurations within the nRF Connect SDK,
	* e.g. on nRF52840, the chosen zephyr,entropy node is &cryptocell.
	* This devicetree overlay ensures that default is overridden wherever it
	* is set, as this application uses the RNG node for entropy exclusively.
	*/
	chosen {
		zephyr,entropy = &rng;
	};
};

/* Disable unused peripherals to reduce power consumption */
&adc {
	status = "disabled";
};
&uart1 {
	status = "disabled";
};
&pwm0 {
	status = "disabled";
};
&spi3 {
	status = "disabled";
};
&usbd {
	status = "disabled";
};

/ {
    aliases {
        respin = "/epd_out/res";
        cspin = "/epd_out/cs";
        dcpin = "/epd_out/dc";
        busypin = "/epd_in/busy";
    };
    epd_out {
        compatible = "gpio-leds";
        res {
            gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
            label = "EDP_RES";
        };
        cs {
            gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
            label = "EDP_CS";
        };
        dc {
            gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
            label = "EDP_DC";
        };
    };

    epd_in {
        compatible = "gpio-keys";
        busy {
            gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
            label = "EDP_BUSY";
        };
    };
};
&spi1_sleep {
    group1 {
        psels = <NRF_PSEL(SPIM_MISO, 1, 8)>;
    };
};